<div class="row">
    <div class="col-md-4 col-md-offset-4">
      <head>
        <div class="row">
            <h2>About Page</h2>>
            </div>
      </head>
      <body>
        <h1>This is the plan B page</h1>
        {{!-- We could use the same body as the index.hbs page --}}
        {{!-- using the {{{body}}}, you remember it right ?--}}
      </body>
    </div>
</div>