
<!DOCTYPE HTML>
<html>
	<head>
		<title>PHPJabbers.com | Free Book Online Store Website Template</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

			
				
				<!-- Main -->
			
						<h1>About Us</h1>
            

     
        <p>Dear readers,</p>
							<br>
								<p>
								We are the exciting new platform that has gathered a tremendous number of books, just for you. The various book classifications include Fiction, Non-fiction, Biographies, History, Religion, Self-help and Children. 
							</p>
							
							<p>On top of this we have now begun accommodating towards our online user base by providing e books at reasonable prices.  So, whether your preference is hard cover books or e books read from the comfort of your personal device, it is up to you. </p>
							
							<p>We do not have any brick and mortars as we are strictly an online business. But our online website provides an experience that is convenient and simple that should allow you to achieve all your reading needs. Moreover, providing book prices that would only normally be seen on sale.</p>
						
							<p>Finally, we would like to thank you for visiting our website and hope to see you again.</p>
	

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>