
<!DOCTYPE HTML>
<html>
	<head>
		<title>PHPJabbers.com | Free Book Online Store Website Template</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

			
				
				<!-- Main -->
			
						<h1>ReadPoint Privacy and Policy:</h1>
            
     
      <body>
     
        <br>
        <h4>Data Collected by ReadPoint:</h4>
        <p>Personal information is acquired during the creation of a new user account, participating in any interactive features of our services, filling out forms, and inquiry for customer support. The types of information we may collect include your name, email address, postal address, and credit card information when PayPal is used.</p>
        <br>
        <h4>Use of the Data:</h4>
        <p>We use your personal information to conduct analysis to enhance current content and services. Your personal information is not shared to anyone, we only share your information once we get a consent from you. We deploy standard techniques to prevent your information to be stolen and exploited by unauthorized people. </p>
        <p>Here are the following purposes of using your personal data:</p>
        <p>For the legal contract upon your compliance and undertaking of the purchase contract of products you have purchased.</p>
        <p>To reach you by email, telephone calls, or SMS such as a mobile application's push notifications in respect of either website or security updates, products or contracted services only when it’s necessary or reasonable for you.</p>
        <br>
        <h4>Links to Other Websites:</h4>
        <p>Our website may contain links to other websites that are not operated by Us. Click at your own risk. For, we have no control over and take no responsibility for the content and privacy policies or practices of any third-party sites or services. Including that of PayPal.</p>
        <br>
        <h4>Changes to the Privacy Policy:</h4>
        <p>We may alter this Privacy Policy from time to time, ongoing updates. The way we use your information now is subject to the Privacy Policy in effect at the time such information is used.</p>
        <p>Any major changes made in the way we collect or use information; you will be notified by posting an announcement on the website or sending you an email. You may make any modification to your communication preferences and opt-out from specific communications at any time. Please specify and adjust your preferences at any time.</p>
      
	

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>